/********************************************************************
 * Live web demo (https://github.com/benoitzohar/live-web-playground)
 * Main css file | style.js
 ********************************************************************/

body {
    background: #ddd;
    color: #333;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    padding: 10px
}
